:root {
    --icon-size: 40px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0c1444;
}

div.title-section {
    width:100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg.title-svg {
    height: auto;
    width: 80;
    max-width: 880px;
}

div.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
}

a.icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 20px;
    background-position: 0 0;
    background-size: calc(var(--icon-size)) calc(var(--icon-size));
    background-repeat: no-repeat;

}
a.icon#linkedin {
    background-image: url("images/icons/linkedin.svg");  
}

a.icon#github {
    background-image: url("images/icons/github.svg");
}

a.icon#twitter {
    background-image: url("images/icons/twitter.svg");
}

a.icon#steam {
    background-image: url("images/icons/steam.svg");
}

div.down-arrow {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.down-arrow {
    width: 80px;
    height: 80px;
    background-size: 80px 160px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(images/icons/down-arrow.svg);
}

div.first-showcase {
    display: flex;
    align-items: flex-start;
    max-width: 80%;
    margin: 10%;
    gap: 5%;
    color:white;
}

img.steamSpire-showcase {
    max-width: 50vw;
    max-height: 70vh;
}

div.showcase-text {
    flex: 1;
    max-width: 30vw;
}

div.showcase-text h1 {
    margin: 0;
}

div.product-role {
    display: flex;
    gap: 3%;
}

div.line {
    display: flex;
    align-items: center;
    gap: 5px;
}

span.highlight {
    font-weight: bold;
    font-size: 1.2rem;
}